@font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 400;
    src: local("CormorantGaramond"),
    url("/fonts/CormorantGaramond-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Cormorant Garamond";
    font-style: italic;
    font-weight: 400;
    src: local("CormorantGaramond"),
    url("/fonts/CormorantGaramond-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 500;
    src: local("CormorantGaramond"),
    url("/fonts/CormorantGaramond-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 600;
    src: local("CormorantGaramond"),
    url("/fonts/CormorantGaramond-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Cormorant Garamond";
    font-style: italic;
    font-weight: 600;
    src: local("CormorantGaramond"),
    url("/fonts/CormorantGaramond-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 700;
    src: local("CormorantGaramond"),
    url("/fonts/CormorantGaramond-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    src: local("Outfit"),
    url("/fonts/Outfit-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    src: local("Outfit"),
    url("/fonts/Outfit-Medium.ttf") format("truetype");
}